RING_REFRESH_TOKEN=""
RING_STREAM_MOTION="no"
RING_VIDEO_WIDTH="600"
RING_MINUTES_TO_STREAM="1.5"

CLOCK_ENABLED="yes"

WEATHER_ENABLED="no"
WEATHER_OPENWEATHER_API_KEY=""
# ID from http://bulk.openweathermap.org/sample/city.list.json.gz; unzip the gz file and find your city
WEATHER_CITY=""
WEATHER_LOCATION_ID=""