// Remove .example from the file name and fill in the required fields

export const language = "en";

export const settings = [
  {
    module: "alert",
  },
  {
    module: "updatenotification",
    position: "top_bar",
  },
  {
    module: "clock",
    position: "top_left",
  },
  {
    module: "weather",
    position: "top_right",
    config: {
      weatherProvider: "openweathermap",
      type: "current",
      location: "<YOUR_CITY>",
      locationID: "<YOUR_LOCATION_ID>", //ID from http://bulk.openweathermap.org/sample/city.list.json.gz; unzip the gz file and find your city
      apiKey: "<YOUR_OPENWEATHER_API_KEY>",
    },
  },
  {
    module: "weather",
    position: "top_right",
    header: "Weather Forecast",
    config: {
      weatherProvider: "openweathermap",
      type: "forecast",
      location: "<YOUR_CITY>",
      locationID: "<YOUR_LOCATION_ID>", //ID from http://bulk.openweathermap.org/sample/city.list.json.gz; unzip the gz file and find your city
      apiKey: "<YOUR_OPENWEATHER_API_KEY>",
    },
  },
  {
    module: "MMM-Ring",
    position: "middle_center",
    config: {
      ring2faRefreshToken: "<YOUR_REFRESH_TOKEN>",
    },
  },
];
